/** STYLE GENERAL **/
body {
    font-family: 'Open Sans', sans-serif;
    background:black;
    color: #D3EBF2;
}
/** NAVBAR **/
.container{
    justify-content: flex-end;
    flex-direction: row;
    display: flex !important;
    align-items: center;
    margin-right: 10px;
    background-color: black;
}

.pictos{
    margin: 8px;
    
}
.retour{
    font-size: 15px !important;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Rajdhani', sans-serif; 
    text-align: none;
    color: #D3EBF2 ;
}
.retour:hover{
    color: white;
    text-decoration: none;
}
.langues{
    margin-left: 10px;
    justify-content: flex-end;
    display: flex !important;
    text-decoration: none;
    text-transform: uppercase;
    color: #D3EBF2;
    font-size: 10px;
    font-weight: bolder;
    
}
.langue:hover{
    color: #5cbcda !important;
}
.choix{
    text-decoration: underline !important;
}
.langue{
    text-decoration: none;
    text-transform: uppercase;
    color: #D3EBF2;
    font-size: 10px;
    font-weight: bolder;
}
.navbar{
    margin-top: 30px !important;
}

.nav-link{
    margin: 15px;

}
.categories{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: white !important;
}
.categories:hover{
    color: #5cbcda !important;
}
.menu{
    color: #D3EBF2 !important;
}
.navbar-nav{
    margin-left: 100px;
}
.dropdown-toggle{
    margin-left: 100px;
}
.navbar{
    height: 100px;
    color: black;
    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/** INFOS SITE **/
.hiboux{
    width: 600px;
    margin-right:-100px;
}
.livraison{
    justify-content: center;
    display: flex;
    margin: 20px;
    font-family: 'Rajdhani', sans-serif;
}
.texteInfos{
    text-decoration: none;
    color: white ;
    font-size: 15px;
    line-height: 24px;
    text-justify:distribute-all-lines;
    font-family: 'Rajdhani', sans-serif;
}
.infos{
    margin: 50px;
}
.accroche{
    text-transform: uppercase;
    line-height: 40px;
    font-size: 16px;
}
/** Filtres **/
.search{
   width: 150px; 
}
.filtre{
    width: 150px;
    margin: 20px;
}
.filter{
    margin: 60px;
    display: flex;
    flex-direction: row;
}
.option{
    font-family: 'Rajdhani', sans-serif;
}
.lignes{
    margin-top: 20px ;
}
/** cards **/
.plus{
    border-color:#5cbcda;
    background-color: #5cbcda;
    border-radius: 0%;
}
.plus:hover{
    background-color: red;

}

.araigné{
    width: 25rem;
}
.titre{
    font-family: 'Rajdhani', sans-serif;
}
.gorille{
    width: 25rem;
}
.go{
    justify-content: right;
    display: flex;
    flex-direction: row;
}
