/** STYLE GENERAL **/
body {
    font-family: 'Open Sans', sans-serif;
    background:black;
    color: #D3EBF2;
}
/** NAVBAR **/
.container{
    justify-content: flex-end;
    flex-direction: row;
    display: flex !important;
    align-items: center;
    margin-right: 10px;
    background-color: black;
}
.navun{
    height: 60px;
}
.compte{
    margin-left: 800px;
}

.pop-up {
    position: relative; /* pour positionner les éléments contenus dans la div (notamment la croix) par rapport à elle */
    padding: 30px;
    margin: 0 auto; /* pour centrer la div */
    text-align: center;
    background-color: #ffff;
    opacity: 0;
    visibility: hidden;
    animation: drop 1s ease-in-out forwards; /* forwards : pour rester dans l'état d'arrivée */
    animation-play-state: paused; /* état de lecture de l'animation : on la met sur pause pour éviter que l'énimation se déclencghe au chargement de la page */
}
.pop-up.open {
    animation-play-state: running; /* on lance l'animation quand on clique sur le bouton */
}

.pop-up.close {
    animation: close 1s ease-in-out forwards; /* on applique la keyframes close quand on clique sur la croix */
}



.cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

.cross:hover {
    transform: rotateZ(90deg);
}

.pop-up h1 {
    color: #b8161e;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.pop-up p {
    color: #5cbcda;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
}

.pop-up input {
    display: block;
    height: 28px;
    padding: 4px 7px;
    line-height: 1;
    color: #495057;
    border: 1px solid #ced4da;
    transition: box-shadow 0.25s ease-in-out;
    font-size: 14px;
}

.pop-up input:focus {
    box-shadow: 0 0 1px 1px rgba(210,24,33,0.7);
    outline: none;
}

.btn-submit {
    color: #fff;
    background-color: #b8161e;
    display: block;
    width: 100%;
    margin-top: 5px;
    transition: background-color 0.25s ease-in-out;
    font-size: 14px;
}


.btn-submit:hover {
    background-color: rgb(160,34,31);
}

/* KEYFRAMES */

@keyframes drop {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-200px);
    }
    70% {
        opacity: 1;
        visibility: visible;
        transform: translateY(250px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(200px);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(250px); 
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-200px);
    }
}

.pictos{
    margin: 8px;
    
}
.retour{
    font-size: 15px !important;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Rajdhani', sans-serif; 
    text-align: none;
    color: #D3EBF2 ;
}
.retour:hover{
    color: white;
    text-decoration: none;
}
.langues{
    margin-left: 10px;
    justify-content: flex-end !important;
    display: flex !important;
    text-decoration: none;
    text-transform: uppercase;
    color: #D3EBF2;
    font-size: 10px;
    font-weight: bolder;
    
}
.langue:hover{
    color: #5cbcda !important;
}
.choix{
    text-decoration: underline !important;
}
.langue{
    text-decoration: none;
    text-transform: uppercase;
    color: #D3EBF2;
    font-size: 10px;
    font-weight: bolder;
}
.navbar{
    margin-top: 30px !important;
}

.nav-link{
    margin: 15px;

}
.categories{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: white !important;
}
.categories:hover{
    color: #5cbcda !important;
}
.menu{
    color: #D3EBF2 !important;
}
.navbar-nav{
    margin-left: 100px;
}
.dropdown-toggle{
    margin-left: 100px;
}
.navbar{
    height: 100px;
    color: black;
    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/** INFOS SITE **/
.hiboux{
    width: 600px;
    margin-right:-100px;
}
.livraison{
    text-decoration: underline  !important;
    text-decoration-style:solid  !important;
    text-underline-position: under !important;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-family: 'Rajdhani', sans-serif;
}
.texteInfos{
    text-decoration: none;
    color: white ;
    font-size: 15px;
    line-height: 24px;
    text-justify:distribute-all-lines;
    font-family: 'Rajdhani', sans-serif;
}
.infos{
    margin: 50px;
}
.accroche{
    text-transform: uppercase;
    line-height: 40px;
    font-size: 16px;
}
/** Filtres **/
.ok{
    color: #5cbcda;
    margin-top: 30px;

}
.ok:hover{
    background-color: #5cbcda;
    color: white;
}
.search{
   width: 150px; 
   font-family: 'Rajdhani', sans-serif;
   margin-top: 30px;
}
.filtre{
    width: 150px;
    margin: 20px;
    
    
}
.filter{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.option{
    font-family: 'Rajdhani', sans-serif;
}
.lignes{
    margin-top: 20px ;
}
.okay{
    color: #5cbcda;
    height: 35px;
    margin-top: 105px;
    font-family: 'Rajdhani', sans-serif;
}
.okay:hover{
    background-color: #5cbcda;
    color: white;
}
/** cards **/
.demandé{
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 28px;
    margin-top: 150px;

}
.plus{
    border-color:#5cbcda;
    background-color: #5cbcda;
    border-radius: 0%;
}
.plus:hover{
    background-color: red;

}
.plus:focus{
    border-color: #5cbcda !important;
}
.araigné{
    width: 25rem;
}
.titre{
    font-family: 'Rajdhani', sans-serif;
}
.gorille{
    width: 25rem;
}
.go{
    margin-left: 10px;
}
/** Slider **/
.info{
    margin-top: 150px;
}
.slide{
    margin-top: 150px;
}
  .zone {
    background-color:black;
}
  
.zone .carousel-caption {
    position: absolute; 
    top: 20px!important;
    left:0!important;
    text-align: left!important;
}


.zone .carousel-control-prev {
  left: 50px!important;
}

.zone .carousel-control-next {
  right: 50px!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 30px!important;
  height: 30px!important;
 
}
  
.zone .carousel-caption h5 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #000;
}

.zone h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: #fff;
    text-align: center;
}

.zone p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #fff;
    margin-bottom: 1.75rem;
}
